.item_section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    p {
        width: 325px;
        word-break: break-word;
        cursor: pointer
    }

    & > button {
        width: 100px;
        background: white;
        border: 1px solid red;
        border-radius: 4px;
        color: red;
        font-size: 16px;
        cursor: pointer;
    };

    & > .active_item {
        background: red;
        width: 4px;
        height: 50px;
        position: absolute;
        left: -22px;
    }
}