.todo_list {
    width: 500px;
    height: 600px;
    box-shadow: 0px 0px 2px 2px #a6a3a338;
    overflow: scroll;

    & > .td_container {
        padding: 0 20px;

        & > .add_section {
            height: 45px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            input {
                border: 1px solid #a8a7a79e;
                border-radius: 5px;
                width: 290px;
                padding-left: 10px;
                font-size: 20px;
            };
    
            & > button {
                cursor: pointer;
                font-size: 16px;
                letter-spacing: 1px;
                border: none;
                border-radius: 3px;
                width: 135px;
                background-color: #21d1b1;
                color: white;           
            };
        };
    }
}